{% extends 'backoffice.html.twig' %}

{% block body %}

    <a href="{{ path('media_type_choice', {'id': id, 'param': 'activity'}) }}" class="btn btn-secondary btn-lg">Ajouter des médias</a>

{% endblock %}

{% block title %}

{% endblock %}

